#container {
  position: relative;
  background-color: white;
  // height: 100vh;
  z-index: 2;
  transition: all 0.5s;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: white;
  display: flex;
  align-items: center;
  z-index: 100;
  border-bottom: 1px solid #ccc;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    h1 {
      display: flex;
      align-items: center;
      .brandname-link {
        font-size: 30px;
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
}

.mobile-menu {
  position: fixed;
  right: 0;
  top: 0;
}

a {
  text-decoration: none;
  color: #222;
  cursor: pointer;
}

.swiper__brand-lists {
  padding-top: 72px;
}
.brands {
border-top: 1px solid #ddd;
  .brand-lists {
    // width: 600px;
    // margin: 0 auto;
    & > li {
      font-size: 18px;
      font-weight: 600;
      height: 40px;
      line-height: 40px;
      border-bottom: 1px solid #ddd;
      text-align: center;
    }
  }
}

.products {
  &__inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .products__list {
      flex-basis: 50%;
      max-width: 50%;
      &__inner {
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        .product-cover {
          padding: 30px 30px 10px;
          .product-img {
            position: relative;
            img {
              width: 100%;
            }
            .product-img__on {
              position: absolute;
              top: 0;
              left: 0;
              display: none;
            }
          }
        }
      }
    }
  }
}

.products .product-img:hover .product-img__on {
  display: block !important;
}

nav#breadcrumb {
  height: 35px;
  padding-top: 72px;
  border-bottom: 1px solid #ddd;
  font-size: 9px;
  ul.breadcrum-pc {
    display: flex;
    padding: 10px;
    li.breadcrumb-item {
      margin-right: 5px;
    }
  }
}

.product-img {
  height: 100%;
  &-list {
    display: flex;
    flex-direction: column;
  }
}

.product-detail {
  &-inner {
    padding: 60px;
    &-brand {
      font-size: 12px;
      margin-bottom: 10px;
    }
    &-title {
      font-size: 20px;
      margin-bottom: 10px;
    }
    form {
      & > div {
        .product-price-wrap {
          margin-bottom: 40px;
          .product-price {
            font-size: 15px;
          }
        }
      }
      .product-explain {
        .readmore {
          width: 100%;
          text-align: right;
          display: block;
          font-size: 14px;
          color: #ccc;
          cursor: pointer;
          margin-bottom: 40px;
        }
      }
      .product-options {
        display: flex;
        justify-content: space-between;
        width: 100%;
        .product-option {
          display: flex;
          flex-basis: 45%;
          border-bottom: 1px solid #222;
          label {
            font-size: 11px;
            margin-right: 7px;
            height: 25px;
            line-height: 25px;
          }
          .select-wrapper {
            width: 100%;
            text-align: center;
            & > select {
              font-size: 13px;
              border: none;
              appearance: none;
              cursor: pointer;
            }
          } 
        }
      }
      .buy-button {
        width: 100%;
        height: 50px;
        margin: 35px 0;
        background-color: black;
        color: white;
        cursor: pointer;
        border-style: none;
      }
    }
    .product-content {
      .size-spec {
        .size-spec-inner {
          display: flex;
          justify-content: space-between;
          margin-bottom: 35px;
          .plus-icon {
            & > span {
              background-color: black;
              width: 12px;
              height: 2px;
              display: block;
              &:nth-child(1) {
                transform: translateY(12px);
              }
              &:nth-child(2) {
                transform: translateY(10px) rotate(90deg);
              }
            }
          }
        }
        #size-spec-content {
          .size-spec-table {
            text-align: center;
            font-size: 11px;
            width: 100%;
            table-layout: fixed;
            .parts {
              border-bottom: 1px solid #ddd;
            }
            tr:not(:first-of-type) td:not(:first-of-type) {
              font-size: 13px;
            }
            tr:nth-of-type(2) td {
              padding-top: 14px;
            }
            td {
              border-right: 1px solid #ddd;
              padding: 5px;
              &:first-of-type {
                width: 40px;
              }
              &:last-of-type {
                border-right: none;
              }
            }
          }
        }
      }
    }
  }
}

.related-product {
  & > h2 {
    height: 100px;
    line-height: 100px;
    padding-left: 30px;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
  }
  .related-product-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .related-product-list {
      flex-basis: 42%;
      padding: 30px;
      border-left: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      .related-product-list-inner {
        & > img {
          width: 100%;
        }
      }
      .view-more {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
      }
    }
  }
}

footer {
  .footer-list {
    display: flex;
    border-bottom: 1px solid #ddd;
    &-item {
      flex-basis: 25%;
      max-width: 25%;
      padding: 25px;
      font-size: 12px;
      font-weight: bold;
      & > .footer-menu {
        margin-bottom: 5px;
      }
    }
  }
  .copyright {
    padding: 15px;
    font-size: 10px;
    color: #ddd;
  }
}