.header__inner {
  height: 100%;
  h1 {
    height: 100%;
    border-right: 1px solid #ccc;
  }
  .header-search-form {
    width: 100%;
    padding-left: 15px;
  }
}



.mobile-cart-icon {
  display: none;
}



button {
  &.mobile-menu__btn {
    display: none;
  }
}

nav {
  padding-left: 15px;
  ul{
    &.pcmenu {
      width: 100%;
      height: 100%;
      font-size: 12px;
      font-weight: bold;
      display: flex;
      justify-content: flex-end;
      li {
        position: relative;
        padding-right: 15px;
        &:nth-child(5) {
          border-right: 1px solid #ccc;
          padding-right: 40px !important;
          margin-right: 40px;
        }
      }
    }
  }
}

nav .sub-menu {
  position: absolute;
  display: none;
}

nav .menu_brands:hover ul {
  display: block;
  width: 120px;
  background-color: white;
  border: 1px solid #ccc;
  font-size: 13px;
  text-align: center;
  & > li {
    height: 25px;
    line-height: 25px;
    &:nth-child(1) {
      border-bottom: 1px solid #ccc;
    }
    &:nth-child(2) {
      border-bottom: 1px solid #ccc
    }
  }
}

.swiper__brand-lists {
  display: flex;
  .swiper-container {
    margin-left: 0 !important;
    margin-right: unset !important;
    border-bottom: 1px solid #ddd;
  }
  .brands {
    margin-top: 72px;
    width: calc(100% - 600px);
    .brand-lists {
      & > li {
        height: 133px;
        line-height: 133px;
        padding-left: 30px;
        font-size: 25px;
        border-left: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
      }
    }
  }
}

.products {
  &__inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .products__list {
      flex-basis: 25%;
      max-width: 25%;
    }
  }
}