.m-lens-container {
  display: inline-block;
  position: relative;
}
.m-lens {
  position: absolute;
  top: 10px; /* JSで適切な値を設定する */
  left: 20px; /* JSで適切な値を設定する */
  z-index: 2;
  background: #f57716;
  opacity: 0.3;
  height: 172px;
  width: 172px;
}
.m-lens {
  display: none;
}
.m-lens-container:hover .m-lens {
  display: block;
}
.m-lens-container img {
  width: 100%;
}
.cell {
  // display: table-cell;
  // vertical-align: middle;
}
.product-img {
  // position: relative;
}
.slides-container {
  width: 100%;
  overflow: hidden;
}
.zoom-area {
  display: none;
  position: absolute;
  left: 50%;
  border: 1px solid #ccc;
  height: 400px;
  max-width: 400px;
  overflow: hidden;
  z-index: 100;
}
.zoom-area.active {
  display: block;
}
.zoom-area img {
  margin-top: -30px; /* JSで適切な値を設定する */
  margin-left: -60px; /* JSで適切な値を設定する */
}