h1 {
  a {
    &.brandname-link {
      text-decoration: none;
    }
  }
}

.mobile-menu__btn {
  background-color: transparent;
  border: none;
  & > span {
    background-color: black;
    width: 35px;
    height: 2px;
    display: block;
    margin-bottom: 9px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}