.header-search-form {
  input {
    &.search-form {
      display: none;
    }
    &.submit-btn {
      display: none;
    }
  }
}


nav {
  ul{
    &.pcmenu {
      display: none;
    }
  }
}

.mobile-items {
  display: flex;
  .mobile-curt {
    margin-right: 10px;
  }
}

.mobile-menu__btn {
  background-color: transparent;
  border: none;
  outline: none !important;
  cursor: pointer;
  margin-right: 15px;
  width: 50px;
  & > span {
    background-color: black;
    width: 35px;
    height: 2px;
    display: block;
    margin-bottom: 9px;
    transition: transform 0.7s;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.menu-open {
  & #container {
    position: relative;
    transform: translate(-300px);
    box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
    .mobile-menu__cover {
      position: absolute;
      background-color: rgba(0, 0, 0, 0.2);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 200;
    }
    .mobile-menu__btn {
      & > span {
        background-color: black;
        &:nth-child(1) {
          transform: translateY(11px) rotate(135deg);
        }
        &:nth-child(2) {
          transform: translateX(-18px) scaleX(0);
        }
        &:nth-child(3) {
          transform: translateY(-11px) rotate(-135deg);
        }
      }
    }
  }
}

.mobile-menu {
  background-color: black;
  width: 300px;
  height: 100vh;
  &__main {
    padding-left: 80px;
    .mobile-menu__item {
      font-size: 22px;
      margin-top: 15px;
      font-weight: bold;
      color: white;
      &:nth-child(1) {
        margin-top: 45px;
      }
      & > a {
        color: white;
      }
      .drop-nav {
        & > li {
          & > a {
          color: white;
          }
        }
      }
    }
  }
}

