/*!
 * YUI 3.5.0 - reset.css (http://developer.yahoo.com/yui/3/cssreset/)
 * http://cssreset.com
 * Copyright 2012 Yahoo! Inc. All rights reserved.
 * http://yuilibrary.com/license/
 */
/*
    TODO will need to remove settings on HTML since we can't namespace it.
    TODO with the prefix, should I group by selector or property for weight savings?
*/
html {
  color: #000;
  background: #FFF;
}

/*
  TODO remove settings on BODY since we can't namespace it.
*/
/*
  TODO test putting a class on HEAD.
      - Fails on FF.
*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

/*
  TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
*/
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: '';
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

/* to preserve line-height and selector appearance */
sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/*to enable resizing for IE*/
input,
textarea,
select {
  *font-size: 100%;
}

/*because legend doesn't inherit in IE */
legend {
  color: #000;
}

/* YUI CSS Detection Stamp */
#yui3-css-stamp.cssreset {
  display: none;
}

#container {
  position: relative;
  background-color: white;
  z-index: 2;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
  border-bottom: 1px solid #ccc;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.header__inner h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__inner h1 .brandname-link {
  font-size: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.mobile-menu {
  position: fixed;
  right: 0;
  top: 0;
}

a {
  text-decoration: none;
  color: #222;
  cursor: pointer;
}

.swiper__brand-lists {
  padding-top: 72px;
}

.brands {
  border-top: 1px solid #ddd;
}

.brands .brand-lists > li {
  font-size: 18px;
  font-weight: 600;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.products__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products__inner .products__list {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  max-width: 50%;
}

.products__inner .products__list__inner {
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.products__inner .products__list__inner .product-cover {
  padding: 30px 30px 10px;
}

.products__inner .products__list__inner .product-cover .product-img {
  position: relative;
}

.products__inner .products__list__inner .product-cover .product-img img {
  width: 100%;
}

.products__inner .products__list__inner .product-cover .product-img .product-img__on {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.products .product-img:hover .product-img__on {
  display: block !important;
}

nav#breadcrumb {
  height: 35px;
  padding-top: 72px;
  border-bottom: 1px solid #ddd;
  font-size: 9px;
}

nav#breadcrumb ul.breadcrum-pc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

nav#breadcrumb ul.breadcrum-pc li.breadcrumb-item {
  margin-right: 5px;
}

.product-img {
  height: 100%;
}

.product-img-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product-detail-inner {
  padding: 60px;
}

.product-detail-inner-brand {
  font-size: 12px;
  margin-bottom: 10px;
}

.product-detail-inner-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.product-detail-inner form > div .product-price-wrap {
  margin-bottom: 40px;
}

.product-detail-inner form > div .product-price-wrap .product-price {
  font-size: 15px;
}

.product-detail-inner form .product-explain {
  position: relative;
}

.product-detail-inner form .product-explain .explain-content {
  position: relative;
  overflow: hidden;
}

.product-detail-inner form .product-explain .explain-content.is-hide {
  height: 60px;
}

.product-detail-inner form .product-explain .explain-content::before {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 40px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.9)), color-stop(50%, rgba(255, 255, 255, 0.9)), to(#fff));
  background: linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0.9) 50%, #fff 100%);
}

.product-detail-inner form .product-explain .readmore {
  position: absolute;
  bottom: 0;
  z-index: 100;
  width: 100%;
  text-align: right;
  display: block;
  font-size: 14px;
  color: #ccc;
  cursor: pointer;
}

.product-detail-inner form .product-explain .readmore::after {
  content: "read more";
  height: 40px;
}

.product-detail-inner form .product-explain .readmore.is-show {
  bottom: -2em;
}

.product-detail-inner form .product-explain .readmore.is-show::after {
  content: "close";
}

.product-detail-inner form .product-explain .readmore.is-show + .explain-content::before {
  display: none;
}

.product-detail-inner form .product-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 70px;
}

.product-detail-inner form .product-options .product-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  border-bottom: 1px solid #222;
}

.product-detail-inner form .product-options .product-option label {
  font-size: 11px;
  margin-right: 7px;
  height: 25px;
  line-height: 25px;
}

.product-detail-inner form .product-options .product-option .select-wrapper {
  width: 100%;
  text-align: center;
}

.product-detail-inner form .product-options .product-option .select-wrapper > select {
  font-size: 13px;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

.product-detail-inner form .buy-button {
  width: 100%;
  height: 50px;
  margin: 35px 0;
  background-color: black;
  color: white;
  cursor: pointer;
  border-style: none;
}

.product-detail-inner .product-content .size-spec .size-spec-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 35px;
}

.product-detail-inner .product-content .size-spec .size-spec-inner .plus-icon > span {
  background-color: black;
  width: 12px;
  height: 2px;
  display: block;
}

.product-detail-inner .product-content .size-spec .size-spec-inner .plus-icon > span:nth-child(1) {
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
}

.product-detail-inner .product-content .size-spec .size-spec-inner .plus-icon > span:nth-child(2) {
  -webkit-transform: translateY(10px) rotate(90deg);
          transform: translateY(10px) rotate(90deg);
}

.product-detail-inner .product-content .size-spec #size-spec-content {
  display: none;
}

.product-detail-inner .product-content .size-spec #size-spec-content .size-spec-table {
  text-align: center;
  font-size: 11px;
  width: 100%;
  table-layout: fixed;
}

.product-detail-inner .product-content .size-spec #size-spec-content .size-spec-table .parts {
  border-bottom: 1px solid #ddd;
}

.product-detail-inner .product-content .size-spec #size-spec-content .size-spec-table tr:not(:first-of-type) td:not(:first-of-type) {
  font-size: 13px;
}

.product-detail-inner .product-content .size-spec #size-spec-content .size-spec-table tr:nth-of-type(2) td {
  padding-top: 14px;
}

.product-detail-inner .product-content .size-spec #size-spec-content .size-spec-table td {
  border-right: 1px solid #ddd;
  padding: 5px;
}

.product-detail-inner .product-content .size-spec #size-spec-content .size-spec-table td:first-of-type {
  width: 40px;
}

.product-detail-inner .product-content .size-spec #size-spec-content .size-spec-table td:last-of-type {
  border-right: none;
}

.related-product > h2 {
  height: 100px;
  line-height: 100px;
  padding-left: 30px;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

.related-product .related-product-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.related-product .related-product-inner .related-product-list {
  -ms-flex-preferred-size: 42%;
      flex-basis: 42%;
  padding: 30px;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.related-product .related-product-inner .related-product-list .related-product-list-inner > img {
  width: 100%;
}

.related-product .related-product-inner .related-product-list .view-more {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
}

footer .footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #ddd;
}

footer .footer-list-item {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  max-width: 25%;
  padding: 25px;
  font-size: 12px;
  font-weight: bold;
}

footer .footer-list-item > .footer-menu {
  margin-bottom: 5px;
}

footer .copyright {
  padding: 15px;
  font-size: 10px;
  color: #ddd;
}

@media screen and (max-width: 963px) {
  .header-search-form input.search-form {
    display: none;
  }
  .header-search-form input.submit-btn {
    display: none;
  }
  nav ul.pcmenu {
    display: none;
  }
  .mobile-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mobile-items .mobile-cart {
    margin-right: 10px;
    font-size: 1.4em;
  }
  .mobile-menu__btn {
    background-color: transparent;
    border: none;
    outline: none !important;
    cursor: pointer;
    margin-right: 15px;
    width: 50px;
  }
  .mobile-menu__btn > span {
    background-color: black;
    width: 35px;
    height: 2px;
    display: block;
    margin-bottom: 9px;
    -webkit-transition: -webkit-transform 0.7s;
    transition: -webkit-transform 0.7s;
    transition: transform 0.7s;
    transition: transform 0.7s, -webkit-transform 0.7s;
  }
  .mobile-menu__btn > span:last-child {
    margin-bottom: 0;
  }
  .menu-open #container {
    position: relative;
    -webkit-transform: translate(-300px);
            transform: translate(-300px);
    -webkit-box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
            box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
  }
  .menu-open #container .mobile-menu__cover {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
  }
  .menu-open #container .mobile-menu__btn > span {
    background-color: black;
  }
  .menu-open #container .mobile-menu__btn > span:nth-child(1) {
    -webkit-transform: translateY(11px) rotate(135deg);
            transform: translateY(11px) rotate(135deg);
  }
  .menu-open #container .mobile-menu__btn > span:nth-child(2) {
    -webkit-transform: translateX(-18px) scaleX(0);
            transform: translateX(-18px) scaleX(0);
  }
  .menu-open #container .mobile-menu__btn > span:nth-child(3) {
    -webkit-transform: translateY(-11px) rotate(-135deg);
            transform: translateY(-11px) rotate(-135deg);
  }
  .mobile-menu {
    background-color: black;
    width: 300px;
    height: 100vh;
  }
  .mobile-menu__main {
    padding-left: 80px;
  }
  .mobile-menu__main .mobile-menu__item {
    font-size: 22px;
    margin-top: 15px;
    font-weight: bold;
    color: white;
  }
  .mobile-menu__main .mobile-menu__item:nth-child(1) {
    margin-top: 45px;
  }
  .mobile-menu__main .mobile-menu__item > a {
    color: white;
  }
  .mobile-menu__main .mobile-menu__item .drop-nav > li > a {
    color: white;
  }
  .product-img-list-item > img {
    width: 100%;
  }
}

@media screen and (min-width: 964px) {
  .header__inner {
    height: 100%;
  }
  .header__inner h1 {
    height: 100%;
    border-right: 1px solid #ccc;
  }
  .header__inner .header-search-form {
    width: 100%;
    padding-left: 15px;
  }
  .header__inner .header-search-form .pc-header-search-form > input {
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f002";
    font-size: 15px;
  }
  .mobile-cart-icon {
    display: none;
  }
  button.mobile-menu__btn {
    display: none;
  }
  nav {
    padding-left: 15px;
  }
  nav ul.pcmenu {
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  nav ul.pcmenu li {
    position: relative;
    padding-right: 15px;
  }
  nav ul.pcmenu li:nth-child(5) {
    border-right: 1px solid #ccc;
    padding-right: 40px !important;
    margin-right: 40px;
  }
  nav .sub-menu {
    position: absolute;
    display: none;
  }
  nav .menu-title:hover ul {
    display: block;
    width: 120px;
    background-color: white;
    border: 1px solid #ccc;
    font-size: 13px;
    text-align: center;
  }
  nav .menu-title:hover ul > li {
    height: 25px;
    line-height: 25px;
  }
  nav .menu-title:hover ul > li:nth-child(1) {
    border-bottom: 1px solid #ccc;
  }
  nav .menu-title:hover ul > li:nth-child(2) {
    border-bottom: 1px solid #ccc;
  }
  .swiper__brand-lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .swiper__brand-lists .swiper-container {
    margin-left: 0 !important;
    margin-right: unset !important;
    border-bottom: 1px solid #ddd;
  }
  .swiper__brand-lists .brands {
    width: calc(100% - 600px);
  }
  .swiper__brand-lists .brands .brand-lists > li {
    height: 133px;
    line-height: 133px;
    padding-left: 30px;
    font-size: 25px;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
  .products__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .products__inner .products__list {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 25%;
  }
  #product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #product .product-img {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  #product .product-img .product-img-list-item {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
  #product .product-img .product-img-list-item > img {
    width: 100%;
  }
  #product .product-detail {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    border-bottom: 1px solid #ddd;
  }
  #product .product-detail .product-detail-inner {
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
  }
  .related-product .related-product-inner {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .related-product .related-product-inner .related-product-list {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 25%;
  }
}
/*# sourceMappingURL=style.css.map */